In [3]:
import numpy as np
import pandas as pd
data=pd.read_csv('matches - matches.csv')
k=data.drop_duplicates(["season"],keep='last')[['season','team1','team2']].sort_values('season')

In [5]:
k # team those has played the final

     season                team1                        team2
116    2008  Chennai Super Kings             Rajasthan Royals
173    2009      Deccan Chargers  Royal Challengers Bangalore
233    2010  Chennai Super Kings               Mumbai Indians
306    2011  Chennai Super Kings  Royal Challengers Bangalore
380    2012  Chennai Super Kings        Kolkata Knight Riders
456    2013       Mumbai Indians          Chennai Super Kings
516    2014      Kings XI Punjab        Kolkata Knight Riders
575    2015       Mumbai Indians          Chennai Super Kings
635    2016  Sunrisers Hyderabad  Royal Challengers Bangalore
58     2017       Mumbai Indians       Rising Pune Supergiant

In [8]:
# Now finding out total team as there are two team team1 and team 2 so we have add both the team
# for doing i ve used append function

l=k.team1.append(k.team2)
l

116            Chennai Super Kings
173                Deccan Chargers
233            Chennai Super Kings
306            Chennai Super Kings
380            Chennai Super Kings
456                 Mumbai Indians
516                Kings XI Punjab
575                 Mumbai Indians
635            Sunrisers Hyderabad
58                  Mumbai Indians
116               Rajasthan Royals
173    Royal Challengers Bangalore
233                 Mumbai Indians
306    Royal Challengers Bangalore
380          Kolkata Knight Riders
456            Chennai Super Kings
516          Kolkata Knight Riders
575            Chennai Super Kings
635    Royal Challengers Bangalore
58          Rising Pune Supergiant
dtype: object

In [9]:
##now counting total number of the played final 
# for doing i used value_counts() fn.

l.value_counts()

Chennai Super Kings            6
Mumbai Indians                 4
Royal Challengers Bangalore    3
Kolkata Knight Riders          2
Kings XI Punjab                1
Rising Pune Supergiant         1
Rajasthan Royals               1
Deccan Chargers                1
Sunrisers Hyderabad            1
dtype: int64

In [10]:
## as per question we require only top three team so i will use head fn.

l.value_counts().head(3)

Chennai Super Kings            6
Mumbai Indians                 4
Royal Challengers Bangalore    3
dtype: int64